.how {
  counter-reset: how;

  &__counter {
    font-size: 24px;
    font-weight: 300;
    color: $blue;
  }

  &__order {
    @extend .flex-wrap;
    @extend .flex-center;
    margin-top: 45px;
    margin-bottom: 55px;

    @media (min-width: $md) {
      padding-left: 80px;
      padding-right: 80px;
    }

    @media (min-width: $xl) {
      justify-content: flex-start;
    }

    &-title {
      position: relative;
      padding-top: 45px;
      font-size: 24px;
      font-weight: 700;

      &::before {
        @extend .how__counter;
        content: "0" counter(how);
        counter-increment: how;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);

        @media (min-width: $sm) {
          left: 0;
          transform: translateX(0);
        }
      }

      @media (min-width: $sm) {
        padding-top: 0;
        padding-left: 50px;
      }

      @media (min-width: $xl) {
        padding-right: 30px;
        padding-left: 90px;
      }
    }

    &-form-wrap {
      width: 100%;
      max-width: 335px;

      @media (min-width: $md) {
        max-width: 550px;
      }
    }
  }

  &__steps {
    margin-bottom: 70px;

    &-inner {
      @extend .custom-border;
      border-width: 1px 0.5px;

      @media (min-width: $md) {
        border-width: 0.5px 1px;
      }
    }

    &-list {
      @extend .flex-wrap;
    }

    &-item {
      $skewDegree: 13deg;
      position: relative;
      padding: 180px 15px 50px;
      text-align: center;
      border: solid $border-color;
      border-width: 0 0.5px;

      &::before,
      &::after {
        position: absolute;
        bottom: 0;
        width: 50%;
        height: 1px;
        background-color: $border-color;

        @media (max-width: ($md - 1px) ) {
          content: "";
        }
      }

      &::before {
        left: 0;
        transform: skew(0deg, $skewDegree);
      }

      &::after {
        right: 0;
        transform: skew(0deg, -$skewDegree);
      }

      &:last-child() {
        &::before,
        &::after {
          content: none;
        }
      }

      @media (min-width: $sm) {
        padding-left: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
      }

      @media (min-width: $md) {
        padding-top: 120px;
        padding-bottom: 25px;
        padding-left: 90px;
        text-align: left;
        border-width: 0.5px 0;

        &::before,
        &::after {
          right: 0;
          bottom: auto;
          left: auto;
          width: 1px;
          height: 50%;
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }

        @media (max-width: ($lg - 1px) ) {
          &:nth-of-type(4n+1),
          &:nth-of-type(4n+3) {
            &::before,
            &::after {
              content: "";
            }

            &::before {
              transform: skew($skewDegree, 0deg);
            }

            &::after {
              transform: skew( -$skewDegree, 0deg);
            }
          }
        }
      }

      @media (min-width: $lg) {
        padding-left: 50px;

        &:nth-of-type(6n+1),
        &:nth-of-type(6n+2),
        &:nth-of-type(6n+4),
        &:nth-of-type(6n+5) {
          &::before,
          &::after {
            content: "";
          }

          &::before {
            transform: skew($skewDegree, 0deg);
          }

          &::after {
            transform: skew( -$skewDegree, 0deg);
          }
        }
      }

      @media (min-width: $xl) {
        padding-right: 40px;
        padding-left: 80px;
      }
    }

    &-text {
      position: relative;
      font-size: 17px;
      line-height: (26/17);

      &::before {
        @extend .how__counter;
        content: "0" counter(how);
        counter-increment: how;
        position: absolute;
        top: -56px;
        left: 50%;
        transform: translateX(-50%);

        @media (min-width: $md) {
          top: -86px;
          left: 0;
          transform: translateX(0%);
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;

        @media (min-width: $md) {
          top: -56px;
          left: 106px;
        }
      }
    }
  }
}

.order-form {
  &__inner {
    @extend .flex-wrap;
    @extend .justify-center;
    margin-right: -10px;
    margin-left: -10px;
  }

  &__input {
    &-wrap {
      width: 100%;
      margin-top: 20px;
      padding: 0 10px;

      @media (min-width: $md) {
        width: auto;
      }

      @media (min-width: $xl) {
        margin-top: 0;
      }
    }

    &-text {
      @extend .button--white;
      width: 100%;
      padding: 13px;
      padding-left: 64px;

      &::placeholder {
        color: #8a8e94;
      }
    }

    &-text-wrap {
      width: 100%;
      max-width: 356px;
    }

    &-button {
      width: 100%;
      padding: 14.5px 20px;
      cursor: pointer;
    }
  }
}