.recalls {
  margin-bottom: 60px;

  &__videos {
    padding-bottom: 60px;
  }

  &-controls {
    @extend .flex;

    &--videos {
      justify-content: flex-end;
    }

    &--comments {
      justify-content: center;
    }

    &__inner {
      @extend .xs-1;
      @extend .flex-column-reverse;
      @extend .flex-row-md;
      padding: 20px 10px;
      border: 1px solid $border-color;
      border-top: none;

      @media (min-width: $md) {
        max-width: 406px;
        padding: 25px 30px 25px 10px;
      }
    }

    &__link-wrap {
      @extend .flex-center;
      flex-grow: 1;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    &__link {
      @extend .link-underline;
      font-size: 14px;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
    }

    &__controls {
      @extend .flex-center;
      margin-bottom: 30px;

      @media (min-width: $md) {
        margin-bottom: 0;
      }
    }

    &__button-wrap {
      padding: 0 15px;

      @media (min-width: $md) {
        padding: 0 2px;
      }
    }

    &__button {
      position: relative;
      width: 120px;
      height: 40px;
      background-color: transparent;
      border: 1px solid $border-color;
      cursor: pointer;

      &::before {
        content: "";
        @extend .absolute-center;
        background-repeat: no-repeat;
      }

      @media (min-width: $md) {
        width: 27px;
        height: 27px;
      }
    }
  }
}

.videos {
  position: relative;
  margin-top: 65px;
  padding-top: 80%;

  @media (min-width: $md) {
    padding-top: 46%;
  }

  &__items-wrapper {
    @extend .absolute-full;
    width: calc( 100% + 4px);
    margin-left: -2px;
  }

  &__item {
    position: relative;
    width: 100%;
    height: (171/690*100%);
    padding: 2px 1.5px;
    flex: 1 1 (314/1120*100%);
    cursor: pointer;

    @media (min-width: $md) {
      max-width: (314/1120*100%);
      height: auto;
      padding: 1.5px 2px;
    }

    &:first-child {
      flex: 1 1 100%;
      height: (519/690*100%);

      @media (min-width: $md) {
        max-width: (806/1120*100%);
      }
    }
  }

  &__img-wrap {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__play-wrap {
    @extend .absolute-center;
    width: (89/804*100%);
    padding-top: (89/804*100%);
  }

  &__play {
    @extend .absolute-full;
    background-color: $orange;
    border-radius: 50%;
    cursor: pointer;

    &-triangle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: (21/89*100%);
      height: (24/89*100%);
      transform: translate(-31%, -50%);
      background-size: cover;
    }
  }
}

.comments {
  @extend .flex-column;
  @extend .flex-row-md;
  margin-bottom: -20px;

  &__item {
    position: relative;
    margin-bottom: 20px;

    @media (min-width: $md) {
      flex: 1 1 50%;
      padding-top: 80px;

      &--odd {
        padding-left: 70px;
      }

      &--even {
        padding-right: 70px;
      }

      @media (min-width: $md) {
        &--odd {
          padding-left: 25px;
        }

        &--even {
          padding-right: 25px;
        }
      }

      @media (min-width: $xl) {
        &--odd {
          padding-left: 70px;
        }

        &--even {
          padding-right: 70px;
        }
      }
    }

    &-inner {
      height: 100%;
      padding: 0 20px 30px;
      border: 1px solid $border-color;

      &--odd {
        border-right-width: 0.5px;
      }

      &--even {
        border-left-width: 0.5px;
      }

      @media (min-width: $md) {
        padding: 35px 30px 64px;
      }

      @media (min-width: $lg) {
        padding-right: 53px;
        padding-left: 85px;
      }
    }

    &-picture-wrap {
      width: 160px;
      height: 135px;
      margin: 0 auto;

      @media (min-width: $md) {
        position: absolute;
        top: 0px;

        &--odd {
          left: 0px;
        }

        &--even {
          right: 0px;
          left: auto;
        }
      }
    }

    &-avatar {
      @extend .full-square;
    }

    &-name {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 600;
      text-align: center;

      @media (min-width: $md) {
        &--odd {
          margin-left: 40px;
          text-align: left;
        }

        &--even {
          margin-right: 85px;
          text-align: right;
        }
      }

      @media (min-width: $xl) {
        margin-top: 0;
        margin-bottom: 36px;
      }
    }

    &-text {
      position: relative;
      padding-top: 13px;
      font-size: 15px;
      line-height: (26/17);

      &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: -12px;
        background-repeat: no-repeat;

        @media (min-width: $sm) {
          font-size: 17px;
        }

        @media (min-width: $lg) {
          top: 0px;
          left: -52px;
        }
      }
    }
  }
}