.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  left: 0;

  @media (min-width: $lg) and (min-height: $sb-hght-lg) {
    position: fixed;
    left: auto;
    bottom: 0;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 10px 0;

    &-wrap {
      background-color: rgba(23, 26, 27, 0.6);
    }

    @media (min-width: $md) {
      justify-content: space-between;
    }

    @media (min-width: $lg) and (min-height: $sb-hght-lg) {
      flex-direction: column;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    @media(min-width: $xl) and (min-height: $sb-hght-lg) {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }

  &__logo {
    width: 100%;
    margin-bottom: 15px;

    @media (min-width: $md) {
      width: auto;
      margin-bottom: 0;
    }

    @media (min-width: $lg)  and (min-height: $sb-hght-lg) {
      margin-bottom: 30px;
    }

    @media (min-height: $sb-hght-lg) and (min-width: $lg) {
      margin-bottom: 40px;
    }

    &-link {
      display: block;
      margin: 0 auto;
      width: (205px*0.8);
      height: (49px*0.8);

      @media (min-width: $sm) {
        width: (205px*0.9);
        height: (49px*0.9);
      }

      @media (min-width: $md) {
        width: 205px;
        height: 49px;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
    }
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    font-size: 9px;
    color: #fff;
    text-align: center;

    @media (min-width: $md) {
      text-align: left;
    }

    @media (min-width: $lg) and (min-height: $sb-hght-lg) {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 2em;
      font-size: 16px;
    }

    &-item {
      position: relative;
      width: 50%;
      box-sizing: border-box;
      padding-left: 1.5em;
      padding-bottom: 1em;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
      }

      @media (min-width: $sm) {
        width: auto;
        padding-bottom: 1.5em;
      }

      @media (min-width: $md) {
        padding-bottom: 0;
      }

      @media (min-width: $lg) and (min-height: $sb-hght-lg) {
        padding-left: (50em/16);

        &::before {
          content: "";
        }
      }
    }

    &-link {
      color: #fff;
    }
  }

  &__phone {
    &::before {
      left: 3px;
    }

    @media (min-width: $lg) and (min-height: $sb-hght-lg) {
      margin-bottom: (20em/16);

      &::last-child {
        margin-bottom: (25em/16);
      }
    }

    &-title {
      margin-bottom: (7em/16);
      font-size: (14em/16);
      font-weight: 700;
      text-transform: uppercase;
    }

    &-number {
      font-size: (20em/16);
    }
  }

  &__shedule {

    @media (min-width: $lg) and (min-height: $sb-hght-lg) {
      padding-bottom: (30em/16);
      border-bottom: 1px solid #b0bdc1;
    }

    &-value {
      font-size: 1.2em;
      line-height: (24/16);

      @media (min-width: $sm) {
        max-width: 90px;
      }

      @media (min-width: $lg) {
        max-width: 115px;
        font-size: 1em;
      }
    }
  }

  &__mail {
    font-size: 1.2em;

    @media (min-width: $lg) {
      font-size: 1em;
    }

    @media (min-width: $lg) and (min-height: $sb-hght-lg) {
      margin-top: 35px;
      margin-left: 20px;
      padding-left: 43px;
    }

    &::before {
      top: 2px;
    }
  }

  &__choose {
    &-wrap {
      width: 100%;

      @media (min-width: $md) {
        width: auto;
        margin-left: 12px;
      }

      @media (min-width: $lg) and (min-height: $sb-hght-lg) {
        margin-top: 33px;
      }
    }

    &-button {
      width: 164px;
      position: relative;
      padding: 10px;
      font-size: 10px;
      text-align: center;
      margin: 0 auto;

      &::before {
        position: absolute;
        top: 19px;
        left: 23px;
        background-repeat: no-repeat;

        @media (min-width: $lg) and (min-height: $sb-hght-lg) {
          content: "";
        }
      }

      @media (min-width: $sm) {
        width: 205px;
      }

      @media (min-width: $md) {
        width: auto;
        padding: 9px;
        font-size: 9px;
      }

      @media (min-width: $lg) and (min-height: $sb-hght-lg) {
        padding: 22px 26px 22px 59px;
        font-size: 16px;
      }
    }
  }

  &__promo {
    display: none;
    padding: 10px 0;
    font-size: 10px;
    color: #fff;
    text-align: center;

    &-wrap {
      flex-grow: 1;
      background-color: #0d69b0;
    }

    @media (min-width: $md) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    @media (min-height: $sb-hght-lg) {
      padding-top: 55px;
    }

    @media (min-width: $xl) and (min-height: $sb-hght-lg) {
      flex-direction: column;
      padding-left: 44px;
      padding-right: 44px;
      font-size: 16px;
    }

    &-title {
      max-width: 220px;
      margin: 0 auto (15em/16);
      font-size: (20em/16);
      font-weight: 300;
    }

    &-offer {
      font-size: (23em/16);
      font-weight: 700;

      @media (min-width: $xl) {
        font-size: 24px;
      }
    }

    &-form-wrap {
      margin-top: (30em/16);
      width: 295px;
      height: 56px;
      background: url('../img/form.png');

      @media (min-width: $sm) {
        margin-top: 0;
        margin-left: 3em;
      }

      @media (min-height: $sb-hght-lg) {
        margin-top: 48px;
      }
    }
  }
}