-
 var items = [
  {
    title: 'Государственная скорая помощь забрала вашего неходячего родственника в больницу',
    text: 'и не готова везти его после выписки обратно домой',
  },
  {
    title: 'Вашего родственника переводят из одной больницы в другую',
    text: 'но транспорт для доставки пациента в другое лечебное учреждение необходимо искать вам самим',
  },
  {
    title: 'У вас назначено плановое обследование или процедура в медицинском учреждении',
    text: '(например, снятие гипса с ноги), при этом самостоятельно вы передвигаться не можете и обычное такси вам не подойдет',
  },
  {
    title: 'После инсульта ваш близкий человек не может встать с постели',
    text: 'при этом находиться постоянно в квартире в городе тяжело и ему, и вам, тем более у вас есть загородный дом, где можно было бы провести отпуск',
  },
  {
    title: 'Вы хотели бы перевезти пожилую бабушку из далекого города поближе к себе',
    text: 'но организовать переезд на поезде или самолете тяжело в силу ее возраста',
  },
  {
    title: 'Вы нашли хороший пансионат в Подмосковье для вашего пожилого родственника',
    text: 'теперь необходимо организовать переезд',
  },
 ];

section.section.cases
  .wrapper
    .cases__heading
      .cases__title Переезд в положении лежа может потребоваться в различных ситуациях
    ol.cases__main.flex-wrap.items-wrapper
      each item in items
        li.cases__item.item.xs-1.md-2.lg-3
          .cases__item-title=item.title
          .cases__item-text=item.text
