
footer.section.footer
  .wrapper
    .footer__heading
      .footer__logo
        a.footer__logo-link(href="#")
          img.footer__logo-img(src="img/logo.png" alt="TaxiMed Логотип")
      .footer__title Служба перевозки больных TaxiMed.Ru
      .footer__descr Круглосуточно и без выходных
    .footer__main
      .footer__contacts
        .footer__contacts-part
          .footer__contacts-item
            a.footer__contacts-item-link(href="tel:+79651636884")
              .footer__contacts-item-title По Москве:
              .footer__contacts-item-value +7 965 163-68-84
          .footer__contacts-item
            a.footer__contacts-item-link(href="tel:+88005110566")
              .footer__contacts-item-title По России:
              .footer__contacts-item-value 8 (800) 511-05-66
          .footer__contacts-item
            a.footer__contacts-item-link.footer__contacts-email(href="mailto:info@taximed.ru") info@taximed.ru
        .footer__contacts-part
          .footer__contacts-item
            a.footer__contacts-item-link(href="#")
              .footer__contacts-item-title Адрес в Москве:
              .footer__contacts-item-value г. Москва, ул. Краснодарская, 78
          .footer__contacts-item
            a.footer__contacts-item-link(href="#")
              .footer__contacts-item-title Адрес в Московской области:
              .footer__contacts-item-value г. Люберцы, ул. Кирова, 4
          .footer__contacts-item.socials
            .socials__item
              a.socials__item-link.socials__item-link--vk(href="#")
            .socials__item
              a.socials__item-link.socials__item-link--fb(href="#")
            .socials__item
              a.socials__item-link.socials__item-link--yb(href="#")
      .footer__faq
        .footer__faq-part
          .footer__faq-item
            a.footer__faq-link(href="#") Перевозка больных самолетом и поездом
          .footer__faq-item
            a.footer__faq-link(href="#") Как проходит доставка больных до кровати
          .footer__faq-item
            a.footer__faq-link(href="#") 9 вещей, чтобы перевезти больного в другой город
          .footer__faq-item
            a.footer__faq-link(href="#") Калькулятор перевозки больных из города в город