.sidebar
  .sidebar__main-wrap
    .wrapper
      .sidebar__main
        .sidebar__logo
          a.sidebar__logo-link(href="#")
            img.sidebar__logo-img(src="img/logo.png" alt="TaxiMed logo")
        .sidebar__contacts
          .sidebar__contacts-item.sidebar__phone
            a.sidebar__contacts-link(href="tel:+79651636884")
              .sidebar__phone-title По Москве:
              .sidebar__phone-number +7 (965) 163-68-84
          .sidebar__contacts-item.sidebar__phone
            a.sidebar__contacts-link(href="tel:+88005110566")
              .sidebar__phone-title По России:
              .sidebar__phone-number 8 (800) 511-05-66
          .sidebar__contacts-item.sidebar__shedule
            .sidebar__shedule-value Круглосуточно без выходных
          .sidebar__contacts-item.sidebar__mail
            a.sidebar__contacts-link(href="mailto:info@taximed.ru")
              .sidebar__mail-value info@taximed.ru
        .sidebar__choose-wrap
          a.button--orange.sidebar__choose-button(href="#") Выберите тариф

  .sidebar__promo-wrap
    .wrapper
      .sidebar__promo
        .sidebar__promo-descr
          .sidebar__promo-title Закажите перевозку за 48 часов до поездки
          .sidebar__promo-offer И получите 10% скидку!
        .sidebar__promo-form-wrap
          form.sidebar__promo-form.promo-form(action="#")
            .promo-form__inner
              .promo-form__lang
                span.flag-icon.flag-icon--ru
                  span.flag-icon__stick
                  span.flag-icon__stick
                  span.flag-icon__stick
              .promo-form__input-phone-wrap
                input.promo-form__input-phone(type="text" name="number" placeholder="+7(___)___-__-__")
              .promo-form__input-submit-wrap
                input.promo-form__input-submit(type="submit" name="submit" value="Жду звонка")
