-
 var items = [
  {
    text: 'Комплексная услуга от кровати до кровати',
    value: 'complex',
  },
  {
    text: 'Только немецкие микроавтобусы Фольксваген Транспортер',
    value: 'volkswagen',
  },
  {
    text: 'Без скрытых наценок. Оплата по факту выполнения услуг',
    value: 'clear',
  },
  {
    text: 'Без доплат за использование дополнительного оборудования',
    value: 'addition',
  },
  {
    text: 'Бесплатный спуск/подъем по лестнице',
    value: 'stairs',
  },
  {
    text: 'Бесплатная помощь 2-х опытных санитаров',
    value: 'orderly',
  },
  {
    text: 'Наши автомобили пропускают во все государственные больницы Москвы и Московской области',
    value: 'pass',
  },
  {
    text: 'Место для пациента, как в скорой помощи и 3 места для родственников',
    value: 'place',
  },
  {
    text: '10% скидка людям старше 80 лет, ветеранам ВОВ и 5% скидка в благодарность за отзыв',
    value: 'descount',
  },
  {
    text: 'Без доплаты за поздний выезд',
    value: 'late',
  },
  {
    text: 'Круглосуточная подача автомобиля в удобное для Вас место и время',
    value: 'allday',
  },
  {
    text: 'Опыт более 2-х лет в России и 5 лет в странах СНГ',
    value: 'exp',
  },
 ];

section.section.why
  .wrapper
    .why__heading.heading
      .heading__title Мы профессионалы своего дела
      .heading__descr Почему нужно выбрать именно нас?
    .why__main.why__items-wrapper.items-wrapper
      each item in items
        .why__item.item.xs-1.md-2.lg-3(class=`why__item--${item.value}`)
          p.why__item-text=item.text