section.section.cover
  .wrapper
      .cover__menu
        .cover__menu-button
          span.cover__menu-stick
          span.cover__menu-stick
          span.cover__menu-stick
      .cover__content
        .cover__title-wrap
          h1.cover__title Круглосуточная транспортировка больных «под ключ»
        .cover__descr-wrap
          ul.cover__descr-list
            li.cover__descr-item Только иномарки
            li.cover__descr-item Сервис от кровати до кровати
            li.cover__descr-item Подача авто в любую точку Москвы, Московской области, России