doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title TaxiMed
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/index.min.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet")
  body
    include includes/sidebar.pug
    include includes/cover-section.pug
