.sidebar
  .sidebar__main-wrap
    .sidebar__logo
      a.sidebar__logo-link(href="#")
        img.sidebar__logo-img(src="img/logo.png")
    .sidebar__contacts
      .sidebar__contacts-item.sidebar__phone
        .sidebar__phone-title По Москве:
        .sidebar__phone-number
          a.sidebar__contacts-link(href="tel:+79651636884") +7 (965) 163-68-84
      .sidebar__contacts-item.sidebar__phone
        .sidebar__phone-title По России:
        .sidebar__phone-number
          a.sidebar__contacts-link(href="tel:+88005110566") 8 (800) 511-05-66
      .sidebar__contacts-item.sidebar__shedule
        .sidebar__shedule-value Круглосуточно без выходных
      .sidebar__contacts-item.sidebar__mail
        .sidebar__mail-value 
          a.sidebar__contacts-link(href="mailto:info@taximed.ru") info@taximed.ru
    .sidebar__choose-wrap
      a.button.sidebar__choose-button(href="#") Выберите тариф

  .sidebar__promo
    .sidebar__promo-title Закажите перевозку за 48 часов до поездки
    .sidebar__promo-offer И получите 10% скидку!
    .sidebar__promo-form-wrap
      //- .sidebar__promo-form(action="#")
      //-   .sidebar__input-phone-wrap
      //-     input.sidebar__input-phone
      //-   .sidebar__input-submit-wrap
      //-     input.sidebar__submit
