.flex {
  display: flex;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}

.flex-column-reverse {
  @extend .flex;
  flex-direction: column-reverse;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-center {
  @extend .flex;
  @extend .align-center;
  @extend .justify-center;
}

.flex-wrap {
  @extend .flex;
  flex-wrap: wrap;
}

@media (min-width: $sm) {
  .flex-row-sm {
    flex-direction: row;
  }
}

@media (min-width: $md) {
  .flex-column-md {
    flex-direction: column;
  }

  .flex-row-md {
    flex-direction: row;
  }
}

@media (min-width: $lg) {
  .flex-column-lg {
    flex-direction: column;
  }
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-square {
  width: 100%;
  height: 100%;
}

.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  @extend .full-square;
}

.button {
  @extend .flex-center;
  padding: 23px;
  border-radius: 4px;

  &--white {
    @extend .button;
    font-size: 17px;
    color: #8a8e94;
    background-color: #fff;
    border: 1px solid #dde1e4;
  }

  &--orange {
    @extend .button;
    font-family: $gilroy;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    background-color: $orange;
  }
}

.promo-form {

  &__inner {
    position: relative;
    width: 295px;
    height: 56px;
  }

  &__input-phone {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px 120px 10px 50px;
    box-sizing: border-box;
    font-size: 15px;
    color: #fff;
    background-color: #8e8e8e;
    border: 0;
    border-radius: 30px;

    &::placeholder {
      color: #fff;
    }

    &-wrap {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__input-submit {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &-wrap {
      position: absolute;
      z-index: 5;
      width: 112px;
      top: 0;
      right: 0;
      bottom: 0;
      font-size: 13px;
      background-color: #12b5f3;
      border-radius: 30px;
    }
  }

  &__lang {
    position: absolute;
    z-index: 10;
    top: 21px;
    left: 14px;
    width: 19px;
    height: 16px;
    padding-right: 9px;
    box-sizing: content-box;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 6px;
      border: 3px solid transparent;
      border-top-color: #fff;
    }
  }
}

.flag-icon {
  display: block;
  width: 100%;
  height: 100%;

  &--ru {

    .flag-icon__stick {
      display: block;
      height: (100%/3);
      flex-grow: 1;
      width: 100%;

      &:nth-child(1) {
        background-color: #fff;
      }

      &:nth-child(2) {
        background-color: #1359a7;
      }

      &:nth-child(3) {
        background-color: #cc282a;
      }
    }
  }
}

.heading {
  text-align: center;

  &__title {
    margin-bottom: 13px;
    font-size: 26px;
    color: $orange;
  }

  &__descr {
    font: 800 42px $gilroy;
    color: #000;
  }
}

.custom-border {
  border: 0.5px solid $border-color;
}

.items-wrapper {
  @extend .flex-wrap;
  @extend .custom-border;
}

.item {
  position: relative;
  background: #fff;
  @extend .custom-border;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }
}

.link-underline:hover {
  text-decoration: underline;
}

.quote-finish {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 17px;
    background-repeat: no-repeat;
  }
}