
.button {
  display: block;
  padding: 22px 26px 22px 59px;
  font-family: $gilroy;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  background-color: $orange;
  border-radius: 4px;
}