$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1240px;
$xxl: 1600px;

$sm-width: 556px;
$md-width: 760px;
$lg-width: 980px;
$xl-width: 1200px;
$xxl-width: 1180px;

// sidebar
$sb-hght-lg: 830px; // min screen height for vertical display of sidebar

.section {

  @media (min-width: $xxl) and (min-height: $sb-hght-lg) {
    padding-right: 392px;
  }
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $sm) {
    max-width: $sm-width;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: $md) {
    max-width: $md-width;
  }

  @media (min-width: $lg) {
    max-width: $lg-width;
  }

  @media (min-width: $xl) {
    max-width: $xl-width;
  }

  @media (min-width: $xxl) {
    max-width: $xxl-width;
  }
}