$wrapper-gutter: 15px;
$sm-point: 576px;
$md-point: 768px;
$lg-point: 992px;
$xl-point: 1242px;

$sm-width: 540px;
$md-width: 720px;
$lg-width: 960px;
$xl-width: (1120px + ($wrapper-gutter*2)); // 1150px

.section {
  padding-right: 340px; // sidebar width;

  @media (min-width: $xl) {
    padding-right: 392px;
  }
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;

  @media (min-width: $sm-point) {
    max-width: $sm-width;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: $md-point) {
    max-width: $md-width;
  }

  @media (min-width: $lg-point) {
    max-width: $lg-width;
  }

  @media (min-width: $xl-point) {
    max-width: $xl-width;
  }
}