.sidebar {
  &__phone {
    &::before {
      width: 17px;
      height: 17px;
      background-image: url('../img/icons/sidebar-phone.png');
    }
  }

  &__shedule {
    &::before {
      width: 24px;
      height: 23px;
      background-image: url('../img/icons/sidebar-shedule.png');
    }
  }

  &__mail {
    &::before {
      width: 19px;
      height: 14px;
      background-image: url('../img/icons/sidebar-mail.png');
    }
  }

  &__choose-button {
    &::before {
      width: 22px;
      height: 22px;
      background-image: url('../img/icons/sidebar-choose.png');
    }
  }
}