.header__sandbox-link {
  background: url('../img/envelope.png') no-repeat center center;
}

.header__nav-link--drop::after {
  background: url('../img/icons/carret-down.png') no-repeat center center;
}

.header__nav-item.has-dropdown:hover {
  .header__nav-link {
    &::after {
      background-image: url('../img/icons/carret-up.png');
    }
  }
}

.portfolio__control {
  &--right {
    .portfolio__control-icon {
      left: 100px;
      background: url('../img/icons/right-control.png') no-repeat;

      @media (min-width: $md-point) {
        right: 24px;
        left: auto;
      }
    }
  }

  &--left {
    .portfolio__control-icon {
      right: 100px;
      background: url('../img/icons/left-control.png') no-repeat;

      @media (min-width: $md-point) {
        right: auto;
        left: 24px;
      }
    }
  }
}

.services {
  &__item.opened {
    .services__item-heading::after {
      background-image: url('../img/icons/services-arrow-up.png');
    }
  }

  &__item-heading {
    &::after {
      background-image: url('../img/icons/services-arrow-down.png');
    }

    &[data-service-heading="main"] {
      &::before {
        width: 49px;
        height: 36px;
        background-image: url('../img/icons/service-main.png');
      }
    }

    &[data-service-heading="functions"] {
      &::before {
        width: 45px;
        height: 42px;
        background-image: url('../img/icons/service-functions.png');
      }
    }

    &[data-service-heading="social"] {
      &::before {
        width: 40px;
        height: 45px;
        background-image: url('../img/icons/service-social.png');
      }
    }

    &[data-service-heading="increase"] {
      &::before {
        width: 47px;
        height: 45px;
        background-image: url('../img/icons/service-increase.png');
      }
    }

    &[data-service-heading="safety"] {
      &::before {
        width: 37px;
        height: 49px;
        background-image: url('../img/icons/service-safety.png');
      }
    }
  }
}

.advant__item {
  &-main {
    &[data-advant="prof"] {
      &::before {
        width: 50px;
        height: 67px;
        background-image: url('../img/icons/adv-prof.png');
      }
    }

    &[data-advant="seo"] {
      &::before {
        width: 62px;
        height: 52px;
        background-image: url('../img/icons/adv-seo.png');
      }
    }

    &[data-advant="adapt"] {
      &::before {
        width: 60px;
        height: 56px;
        background-image: url('../img/icons/adv-adapt.png');
      }
    }

    &[data-advant="admin"] {
      &::before {
        width: 40px;
        height: 52px;
        background-image: url('../img/icons/adv-admin.png');
      }
    }

    &[data-advant="speed"] {
      &::before {
        width: 60px;
        height: 60px;
        background-image: url('../img/icons/adv-speed.png');
      }
    }

    &[data-advant="safe"] {
      &::before {
        width: 62px;
        height: 62px;
        background-image: url('../img/icons/adv-safe.png');
      }
    }

    &[data-advant="design"] {
      &::before {
        width: 61px;
        height: 61px;
        background-image: url('../img/icons/adv-design.png');
      }
    }

    &[data-advant="accessible"] {
      &::before {
        width: 49px;
        height: 49px;
        background-image: url('../img/icons/adv-accessible.png');
      }
    }

    &[data-advant="sale"] {
      &::before {
        width: 52px;
        height: 63px;
        background-image: url('../img/icons/adv-sale.png');
      }
    }

  }
}

.examples {
  &__control {
    &::before {
      width: 25px;
      height: 45px;
    }

    &--left {
      &::before {
        background-image: url('../img/icons/examples-control-left.png');
      }
    }

    &--right {
      &::before {
        background-image: url('../img/icons/examples-control-right.png');
      }
    }
  }
}

.people {

  &__item {
    &[data-people="market"] {
      &::before {
        width: 54px;
        height: 65px;
        background-image: url('../img/icons/people-market.png');
      }
    }

    &[data-people="promote"] {
      &::before {
        width: 71px;
        height: 62px;
        background-image: url('../img/icons/people-promote.png');
      }
    }

    &[data-people="design"] {
      &::before {
        width: 59px;
        height: 59px;
        background-image: url('../img/icons/people-design.png');
      }
    }

    &[data-people="frontend"] {
      &::before {
        width: 65px;
        height: 60px;
        background-image: url('../img/icons/people-frontend.png');
      }
    }

    &[data-people="backend"] {
      &::before {
        width: 66px;
        height: 66px;
        background-image: url('../img/icons/people-backend.png');
      }
    }

    &[data-people="manage"] {
      &::before {
        width: 65px;
        height: 65px;
        background-image: url('../img/icons/people-manage.png');
      }
    }

  }
}

.how {

  &__item {
    &[data-how="breef"] {
      &::before {
        width: 57px;
        height: 57px;
        background-image: url('../img/icons/how-breef');
      }
    }

    &[data-how="business"] {
      &::before {
        width: 59px;
        height: 53px;
        background-image: url('../img/icons/how-business.png');
      }
    }

    &[data-how="proto"] {
      &::before {
        width: 46px;
        height: 60px;
        background-image: url('../img/icons/how-proto.png');
      }
    }

    &[data-how="design"] {
      &::before {
        width: 51px;
        height: 61px;
        background-image: url('../img/icons/how-design.png');
      }
    }

    &[data-how="tech-task"] {
      &::before {
        width: 61px;
        height: 61px;
        background-image: url('../img/icons/how-tech-task.png');
      }
    }

    &[data-how="breef"] {
      &::before {
        width: 57px;
        height: 57px;
        background-image: url('../img/icons/how-breef.png');
      }
    }

    &[data-how="prog"] {
      &::before {
        width: 63px;
        height: 58px;
        background-image: url('../img/icons/how-prog.png');
      }
    }

    &[data-how="fill"] {
      &::before {
        width: 50px;
        height: 60px;
        background-image: url('../img/icons/how-fill.png');
      }
    }

    &[data-how="analitic"] {
      &::before {
        width: 60px;
        height: 60px;
        background-image: url('../img/icons/how-analitic.png');
      }
    }

    &[data-how="finish"] {
      &::before {
        width: 68px;
        height: 57px;
        background-image: url('../img/icons/how-finish.png');
      }
    }

    &:nth-of-type(9n+9) {
      .how__item-count-wrap {
        &::after {
          background-image: url('../img/icons/flag.png');
        }
      }
    }
  }
}

.guarant {

  &__item {
    &[data-guarant="prof"] {
      &::before {
        width: 38px;
        height: 46px;
        background-image: url('../img/icons/guarant-prof.png');
      }
    }

    &[data-guarant="experience"] {
      &::before {
        width: 46px;
        height: 48px;
        background-image: url('../img/icons/guarant-experience.png');
      }
    }

    &[data-guarant="portfolio"] {
      &::before {
        width: 50px;
        height: 48px;
        background-image: url('../img/icons/guarant-portfolio.png');
      }
    }

    &[data-guarant="recommend"] {
      &::before {
        width: 55px;
        height: 48px;
        background-image: url('../img/icons/guarant-recommend.png');
      }
    }

    &[data-guarant="contract"] {
      &::before {
        width: 38px;
        height: 47px;
        background-image: url('../img/icons/guarant-contract.png');
      }
    }

    &[data-guarant="guarantee"] {
      &::before {
        width: 41px;
        height: 46px;
        background-image: url('../img/icons/guarant-guarantee.png');
      }
    }
  }
}

.faq__item {

  &-heading {
    &::after {
      background-image: url('../img/icons/arrow-down-sm.png');
    }
  }

  &.opened {
    .faq__item-heading {
      &::after {
        background-image: url('../img/icons/arrow-up-sm.png');
      }
    }
  }
}

.connect {
  &__input-wrap {

    &[data-connect="name"] {
      &::after {
        width: 17px;
        height: 23px;
        background-image: url('../img/icons/connect-name.png');
      }
    }

    &[data-connect="email"] {
      &::after {
        width: 22px;
        height: 25px;
        background-image: url('../img/icons/connect-email.png');
      }
    }

    &[data-connect="message"] {
      &::after {
        width: 23px;
        height: 22px;
        background-image: url('../img/icons/connect-mesage.png');
      }
    }
  }
}

.rate__table-cell--true::before {
  width: 22px;
  height: 16px;
  background-image: url('../img/icons/rate-has.png');
}