.sidebar__contacts-link:hover {
  text-decoration: underline;
}

.serv__item:hover {
  box-shadow: 0 0 29px #e0e7ea;
}

.link-underline:hover {
  text-decoration: underline;
}

.videos__item:hover {
  .videos__play {
    transform: scale(1.2);
  }
}

.footer__contacts-item-link:hover {
  text-decoration: underline;
}

.footer__faq-link:hover {
  text-decoration: underline;
}