.header {
  background-color: #fff;
}

.cover {
  background: #eee url('../img/cover-bg.png') no-repeat center center/cover;
}

.forum {
  position: relative;
  background-color: #fff;

  &::before {
    content: "";
    position: absolute;
    top: -57px;
    left: 0;
    width: 100%;
    height: 59px;
    background: url('../img/about-cloud-bg.png') no-repeat;
  }
}

.services {
  background-color: #fff;
}

.advant {
  background: url('../img/advant-bg.png') no-repeat center center / cover;
}

.people {
  background-color: #f3f3f3;
}

.guarant {
  background: url('../img/guarant-bg.png') no-repeat center center / cover;
}

.connect {
  background: url('../img/connect-bg.png') no-repeat center center / cover;
}

.footer {
  background-color: #2e2e2e;
}