// colors


//fonts
$open-sans: "Open Sans", sans-serif;

//grid
$wrapper-gutter: 15px;
$sm-point: 576px;
$md-point: 768px;
$lg-point: 992px;
$xl-point: 1242px;

$sm-width: 540px;
$md-width: 720px;
$lg-width: 960px;
$xl-width: 1210px;